
* {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 85%;
    margin: 0 auto;
}
/** Front Page Styles **/

#glitchImagesContainer {
    width:500px;
    height:300px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.glitchImages {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/** Admin Page Styles **/

/* Right hand side (upload, preview pane etc.) */

#fileInput {
    display: none;
}

.fileInputLabel {
    padding: 5px;
    border: 1px solid black;
}

.prevImage {
    width: 100%;
    height: 100%;
}

.uploadForm {
    margin-top: 20px;
}

.uploadButton {
    margin: 20px 0px;
}

/** current thumbnail styles **/

.thumbnailCurrentContainer {
    position: relative;
    width: 45%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.thumbnailCurrentImage {
    width: 100%;
}

/** current thumbnail styles **/

.prevImage {
    width: 100px;
    height: 100px;
}

/** Header styles **/

.main-header {
    width: 100%;
    height: 100px;
    position: relative;
}

.main-badge-container {
    position: absolute;
    height: 100%;
    width: 60%;
    left: 3%;
}

.header-logo {
    position: absolute;
    background-image: url("./_static_assets/header-logo-left.jpg");
    height: 75px;
    width: 30px;
    top: 15px;
}

.main-title {
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    left: 50px;
    top: 45px;
}

.header-border {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom:0px;
    background-color: black;
}