
* {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 85%;
    margin: 0 auto;
}


/****************************/
/** Global Header Styles ***/
/**************************/

.main-header {
    width: 100%;
    height: 100px;
    position: relative;
}

.main-header-inner {
    position: absolute;
    width: 94%;
    height: 100%;
    left: 3%;
}

.main-badge-container {
    position: absolute;
    height: 100%;
    width:100%;
}

.header-logo {
    position: absolute;
    background-image: url("./_static_assets/header-logo-left.jpg");
    height: 75px;
    width: 30px;
    top: 15px;
}

.main-title {
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    left: 50px;
    bottom: 20px;
}

.header-border {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom:0px;
    background-color: black;
}

/* Auth Panel */

.authPanel {
    position: absolute;
    right:0px;
    bottom: 20px;
    z-index: 2;
    font-weight: bold;
    text-align: right;
    font-size: 1.25em;
}

.userDisplay {
    text-transform: capitalize;
}

.authPanel button {
    position: absolute;
    top: 0;
    height: 100%;
    border: none;
    right: 0;
    font-size: inherit;
    font-weight: inherit;
    transition: opacity 75ms linear;
}

/*************************/
/** Front Page Styles ***/
/***********************/

#glitchImagesContainer {
    width:500px;
    height:300px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.glitchImages {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/************************/
/** Admin Page Styles **/
/**********************/

/* Right hand side (upload, preview pane etc.) */

#fileInput {
    display: none;
}

.fileInputLabel {
    padding: 5px;
    border: 1px solid black;
}

.prevImage {
    width: 100px;
    height: 100px;
}

.uploadForm {
    margin-top: 20px;
}

.uploadButton {
    margin: 20px 0px;
}

/** current thumbnail styles **/

.thumbnail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.thumbnailCurrentImage {
    width: 100px;
    height: 100px;
}

/* Grid outer */

.grid-outer {
    position: relative;
    width: 94%;
    left: 3%;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 5%;
}

/* Breadcrumb Banner styles */

.breadcrumbContainer {
    position: relative;
    height: 35px;
}

.breadcrumbBorder {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: black;
}

.breadcrumbCopyContainer {
    position: absolute;
    font-weight: bold;
    font-size: 1.3em;
    width: 94%;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.breadcrumbPath {
    display: inline-block;
}

.locationSeparator {
    margin: 0px 7px;
    font-size: 0.7em;
    transform: translate(0,-0.2em);
}