/** Front Page Styles **/

* {
    margin: 0px;
    padding: 0px;
}

#glitchImagesContainer {
    width:500px;
    height:300px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.glitchImages {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/** Admin Page Styles **/

/* Input button */

#fileInput {
    display: none;
}

.fileInputLabel {
    padding: 5px;
    border: 1px solid black;
}

.previewOuter {
    position: absolute;
    left:350px;
    width: 200px;
    height: 200px;
}

.prevImage {
    width: 100%;
    height: 100%;
}

.uploadForm {
    margin-top: 20px;
}

.uploadButton {
    margin: 20px 0px;
}

.removeElementsButton {
    margin: 20px 0px;
}